{% extends 'base.html' %}
{% block title %}Category{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    {% if user.is_authenticated %}
    <p><h1>Select Category:</h1></p><br/>
    {% for cat in categoryLst %}
    <div class="card" style="width: 100%;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><p align=center>{{cat}}</p></h5>
          <p align=center><a href="{% url 'cats' cat %}" class="btn btn-primary">Go</a></p>
        </div>
    </div>
    <hr>
    {% endfor %}

    {% else %}
    Please Login to continue... <br/>
    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html>   
{% endblock %}