{% extends 'base.html' %}
{% block title %}Edit Your Post{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete BlogPost</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <p><h1>Delete Post</h1></p>
            <h3>Delete: {{ post.title }}</h3>
            <br/>
            <div class="mb-3">
                <form method="POST">
                    {% csrf_token %}
                    <strong>Are you sure?</strong><br/><br/>
                    <button class="btn btn-primary">Delete</button>
                </form>
            </div>
        {% endif %}
    {% else %}
    Please Login to continue...<br/>
    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html>   
{% endblock %}