{% extends 'base.html' %}
{% block title %}{{cats}}{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{cats}}</title>
</head>
<body>
    {% if user.is_authenticated %}
    <p><h1>{{cats.title}}</h1></p>
    <hr>
    <ul>
    {% for post in category_post %}
    <a href="{% url 'articleDetail' post.pk %}">{{ post.title }}</a> - 
            {{ post.category }}
             - {{ post.author }} -
            {% if user.is_authenticated %}
            <small><a href="{% url 'edit_post' post.pk %}">[Edit]</a></small> - 
            <small><a href="{% url 'delete_post' post.pk %}">[Delete]</a></small><br/>
            {% endif %}
        {{ post.body | slice:":300" | safe}}<br/><br/></li>
    {% endfor %}
    </ul>
    {% else %}
    Please Login to continue... <br/>
    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html>   
{% endblock %}