{% extends 'base.html' %}
{% block title %}Edit Your Post{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit BlogPost</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <p><h1>Edit Post here</h1></p>
            <div class="mb-3">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Update</button>
                </form>
            </div>
        {% endif %}
    {% else %}
    <h3>Please Login to continue...</h3>
    <br/>
    <a class = "btn btn-primary" href = "{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html>   
{% endblock %}