{% extends 'base.html' %}
{% block title %}Edit Profile Page{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile Page</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% if user.id == profile.user.id %}
            <p><h1>Edit Profile Page here</h1></p>
            <div class="mb-3">
                <form method="POST", enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Update</button>
                </form>
                <br/>
            </div>
        {% endif %}
    {% else %}
    Please Login to continue... <br/>
    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html>   
{% endblock %}